/* LAYOUT: HEADER
-------------------------------------------- */

.vlt-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: var(--vlt-color-1);
	z-index: z("header");

	.is-light & {
		color: var(--vlt-color-0);
	}

	&.vlt-header--opaque {
		position: relative;
	}

}

// navbar
.vlt-navbar {
	position: relative;
	z-index: z("navbar");

	// navbar inner
	.vlt-navbar-inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: px2rem(15px);
		transition: padding var(--vlt-transition-duration) var(--vlt-transition-easing);

		@include media-breakpoint-up(md) {
			padding: px2rem(30px);
		}

		@include media-breakpoint-up(xl) {
			padding: px2rem(40px) px2rem(60px);
		}

		&--left {
			display: flex;
			align-items: center;
			flex-basis: 100%;
		}

	}

	// transparent
	&.vlt-navbar--transparent .vlt-navbar-background {
		background-color: transparent;
	}

	.vlt-navbar-background {
		position: absolute;
		top: -1px;
		right: 0;
		left: 0;
		width: 100%;
		height: 0;
		box-shadow: none;
		transition: all var(--vlt-transition-duration) var(--vlt-transition-easing);
		z-index: -1;
	}

	&.vlt-navbar--solid .vlt-navbar-background {
		background-color: var(--vlt-color-1);

		.is-dark & {
			background-color: var(--vlt-color-0);
		}

	}

	// transparent always navbar
	&.vlt-navbar--transparent-always .vlt-navbar-background {
		background-color: transparent;
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	&--sticky {

		.vlt-navbar-inner {
			padding-top: px2rem(30px);
			padding-bottom: px2rem(30px);
		}

	}

	&--solid {

		.vlt-navbar-background {
			height: 100%;
		}

	}

	// navbar logo
	.vlt-navbar-logo {
		display: inline-block;
		line-height: 1;
		color: inherit;
		vertical-align: middle;

		h2 {
			margin: 0;
			font-size: px2rem(28px);
			font-weight: 700;
			color: inherit;
			letter-spacing: -.02em;
		}

		img {
			display: block;
			max-width: none;
			max-height: 24px;

			&.black {

				.is-light & {
					display: none;
				}

			}

			&.white {

				.is-dark & {
					display: none;
				}

			}

		}

		&:hover {
			color: currentColor;
			text-decoration: none;
		}

	}

	&-contacts {
		margin-left: 10%;

		ul {
			display: inline-flex;
			padding: 0;
			margin: 0;
			list-style-type: none;
			@extend %vlt_display_1;

			li.sep {
				margin: 0 px2rem(15px);
				opacity: .5;
				transition: color var(--vlt-transition-duration) var(--vlt-transition-easing);
			}

			li {

				a:hover {
					color: inherit;
					opacity: 0.8;
				}

			}

		}

	}

}

// fix for admin bar
@media (min-width: 783px) {

	.admin-bar .vlt-navbar--fixed {
		top: 32px !important;
	}

}

@media (max-width: 782px) {

	.admin-bar .vlt-navbar--fixed {
		top: 46px !important;
	}

}

@media (max-width: 600px) {

	.admin-bar .vlt-navbar--fixed {
		top: 0 !important;
	}

	#wpadminbar {
		top: -46px;
	}

}

/* BURGER MENU
-------------------------------------------- */

.vlt-menu-burger {
	font-size: px2rem(28px);
	line-height: 0;

	svg {
		width: 1em;
		height: 1em;
	}

	&:hover {
		color: inherit;
	}

	&--opened {

		&:hover {

			i {
				transform: rotate(180deg);
			}

		}

	}

}

// import
@import "header/offcanvas";