/* WORDPRESS: PASSWORD FORM
-------------------------------------------- */

.vlt-post-password-form {
	max-width: px2rem(400px);

	h4 {
		display: flex;
		align-items: center;
		margin: 0 0 px2rem(15px);

		svg {
			width: 1em;
			height: 1em;
			margin-right: 15px;
			color: var(--vlt-color-accent);
		}

	}

	.vlt-form-group {
		display: flex;

		button {
			margin-left: px2rem(15px);
			flex-shrink: 0;
		}

	}

}