/* BASE: GUTENBERG
-------------------------------------------- */

ul[class^='wp-block'] {
	padding-left: 0 !important;
}

// Button

.wp-block-button {
	margin-bottom: px2rem(16px);
}

.vlt-content-markup {


	.alignfull {
		width: auto;
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}

	.alignwide {
		width: auto;
		margin-left: calc(-8.333333% - 15px);
		margin-right: calc(-8.333333% - 15px);
		max-width: 1000px;
	}

}

// Block Cover

.wp-block-cover p:not(.has-text-color) {
	color: var(--vlt-color-0);
}